<header>
	<div id="login">
		<img src="image/wc-logo.png"/>
		<a href="javascript:void(0)"><img src="image/location-white.png"/></a>
		<a href="javascript:void(0)">请填写地址</a>
		<a href="javascript:void(0)"><img src="image/down-arr1.png"/></a>
		<a href="javascript:void(0)"><img src="image/search-white.png"/></a>
	</div>
</header>
<main>
	<!-- 轮播图 -->
	<div id="banner" class="swiper-container">
		<div class="swiper-wrapper">
			<a href="###" class="swiper-slide"><img src="image/homeImg1.jpg"/></a>
			<a href="###" class="swiper-slide"><img src="image/homeImg2.jpg"/></a>
			<a href="###" class="swiper-slide"><img src="image/homeImg3.jpg"/></a>
			<a href="###" class="swiper-slide"><img src="image/homeImg4.jpg"/></a>
			<a href="###" class="swiper-slide"><img src="image/homeImg5.jpg"/></a>
		</div>
		<div id="banner_pagination" class="swiper-pagination"></div>
	</div>
	
	<div id="menu">
		<ul>
			<li ng-repeat="item in homeCtrl.menus track by $index">
				<a href="javascript:void(0)">
					<img ng-src="{{ item.activity.img }}" />
				</a>
			</li>
		</ul>
	</div>
	
	<div id="list">
		<ul>
			<li ng-repeat="list in homeCtrl.lists track by $index">
				<a ng-href="javascript:void(0)">
					<img ng-src="{{ list.img }}" />
				</a>
			</li>
		</ul>
	</div>
	<!-- 推荐 -->
	<div id="groom">
		<img src="image/homeImg6.jpg"/>
	</div>
	<div id="listShop" ng-repeat="listShop in homeCtrl.listShops">
		<img ng-src="{{ listShop.titleImg }}" />
		<div id="listFood">
			<ul>
				<li ng-repeat="listFood in listShop.shopList">
					<!-- 连接到商品详情界面 -->
					<a href="#/detail/{{ listFood.shopId }}">
						<figure>
							<img ng-src="{{ listFood.shopImg }}" />
							<figcaption>
								<p>{{ listFood.shopName }}</p>
								<span class="oldPrice">{{ listFood.oldPrice }}</span><br />
								<span class="price">{{ listFood.price }}</span>
								<img src="image/addcart.png" id="add" />
							</figcaption>
						</figure>
					</a>
				</li>
			</ul>
		</div>
	</div>
	<!-- 商品馆 -->
	<div id="commodityMuseum">
		<img src="image/homeImg7.jpg"/>
	</div>
	<div id="listCommodity">
		<ul>
			<li ng-repeat="listCommodity in homeCtrl.listCommodities track by $index">
				<a href="javascript:void(0)">
					<img ng-src="{{ listCommodity.image }}" />
				</a>
			</li>
		</ul>
	</div>
</main>
