<header>
	<div id="login">
		<img src="image/wc-logo.png"/>
		<a href="javascript:void(0)"><img src="image/location-white.png"/></a>
		<a href="javascript:void(0)">请填写地址</a>
		<a href="javascript:void(0)"><img src="image/down-arr1.png"/></a>
		<a href="javascript:void(0)"><img src="image/search-white.png"/></a>
	</div>
</header>
<main>
	<!-- 轮播图 -->
	<div class="swiper-container">
		<div class="swiper-wrapper">
			<!--<a href="###" class="swiper-slide"><img src=""/></a>-->
		</div>
	</div>
</main>